{% extends "even/templates/index.html" %}

{% block extra_head %}
  <meta name="description" content="mk's technical blog featuring articles on software development, DevOps, Kubernetes, IoT hardware teardowns, and project insights. Developer thoughts and tutorials on modern technology.">
  <meta name="keywords" content="DevOps, Kubernetes, IoT, software development, hardware teardown, technical blog, developer, GitOps, sealed secrets, 1Password">
  <meta name="author" content="mk">
  <meta name="robots" content="index, follow">
  <meta name="language" content="English">

  <link rel="me" href="https://hachyderm.io/@mkroman" />
{% endblock extra_head %}

{% block js %}
  <script src="{{ get_url(path='scripts/slideout.min.js') }}" async></script>
{% endblock js %}
