{% extends "even/templates/page.html" %}

{% block extra_head %}
      <link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
{% endblock %}

{% block page_before_footer %}
  <div class='post-footer'>
    <h2 id='article-comments'>Comments</h2>

    <div id='comment-section'>
      <script id='cc' type="text/javascript" src="https://latest.cactus.chat/cactus.js" defer></script>

      <script>
        cc.addEventListener('load', function() {
          initComments({
            node: document.getElementById('comment-section'),
            defaultHomeserverUrl: 'https://matrix.cactus.chat:8448',
            serverName: 'cactus.chat',
            siteName: 'maero.dk',
            commentSectionId: '{{ page.slug }}'
          });
        });
      </script>
    </div>
  </div>
{% endblock page_before_footer %}
